In [1]:
import os
import pandas as pd

In [2]:
file = "1_2022_02_21_-_12_18_01_HeartRateData.json"
samples = pd.read_json(file)

In [3]:
samples

   heart_rate              start_time
0          76 2022-02-21 12:18:03.644
1          72 2022-02-21 12:18:13.644
2          68 2022-02-21 12:18:23.644
3          65 2022-02-21 12:18:33.644
4          64 2022-02-21 12:18:43.644
5          66 2022-02-21 12:18:53.644
6          66 2022-02-21 12:19:03.644

In [7]:
samples["heart_rate"].mean()

68.14285714285714